process {
    withName: run_validate_PipeVal {
        cpus = 1
        memory = 1.GB
        }

    withName: call_gSV_Delly {
        cpus = 1
        memory = 2.GB
        }

    withName: call_gCNV_Delly {
        cpus = 1
        memory = 2.GB
        }

    withName: regenotype_gSV_Delly {
        cpus = 1
        memory = 2.GB
        }

    withName: regenotype_gCNV_Delly {
        cpus = 1
        memory = 2.GB
        }

    withName: call_gSV_Manta {
        cpus = 1
        memory = 2.GB
        }
    }