import nextflow.util.SysHelper

manifest {
    name = 'call-gSV'
    mainScript = 'call-gSV.nf'
    nextflowVersion = '>=20.07.1'
    author = 'Tim Sanders & Yael Berkovich'
    homePage = 'https://github.com/uclahs-cds/pipeline-call-gSV'
    description = 'A pipeline to call structural variants utilizing Delly and Manta'
    version = '3.0.0'
}

params {

    dataset_id = ''
    blcds_registered_dataset = false
    sge_scheduler = false

    GSV = "gSV"
    GCNV = "gCNV"
    variant_type = [GSV, GCNV]

    // The mode of the call-gSV pipeline to run. Discovery will identify SVs using Delly/Manta. Regenotyping will regenotype SVs/CNVs using Delly. Please note that setting
    // `run_regenotyping` to true will supersede `run_delly` below.
    run_discovery = true
    run_regenotyping = false

    merged_sites_gSV = '/path/to/sites_gSV.bcf'
    merged_sites_gCNV = '/path/to/sites_gCNV.bcf'

    input_csv = 'path/to/input.csv'
    reference_fasta = '/path/to/genome.fa'
    // If an index is not explicitly specified for the reference FASTA, the pipeline will assume one exists in the same directory as the reference FASTA
    reference_fasta_index = ''
    reference_prefix = 'GRCh38-BI-20160721' // See https://confluence.mednet.ucla.edu/display/BOUTROSLAB/Data+storage+directory+structure+design#Datastoragedirectorystructuredesign-8.Referencegenome
    exclusion_file = '/path/to/exclusion.tsv'
    mappability_map = '/path/to/mappability_map'
    map_qual = 20 // min. paired-end (PE) mapping quality for Delly
    // run_delly or run_manta (or both) must be set to true
    run_delly = true
    run_manta = true
    run_qc = true
    save_intermediate_files = true
    output_dir = '/path/to/outputs'
    temp_dir = '/path/to/temp' //e.g. /scratch

}

includeConfig "${projectDir}/config/methods.config"
