import nextflow.util.SysHelper

manifest {
    mainScript = 'call-gSV.nf'
    nextflowVersion = '>=20.07.1'
    author = 'Tim Sanders & Yael Berkovich'
    homePage = 'https://github.com/uclahs-cds/pipeline-call-gSV'
    description = 'A pipeline to call structural variants utilizing Delly'
    version = '1.0.0'
}

params {

    dataset_id = ''
    blcds_registered_dataset = false
    sge_scheduler = false

    input_csv = 'path/to/input.csv'
    reference_fasta = '/path/to/genome.fa'
    reference_prefix = 'GRCh38' // Acceptable values include GRCh37,GRCh38
    exclusion_file = '/path/to/exclusion.tsv'
    map_qual = 20 // min. paired-end (PE) mapping quality for Delly
    run_qc = true
    save_intermediate_files = true
    output_dir = '/path/to/outputs'
    temp_dir = '/path/to/temp' //e.g. /scratch

}

includeConfig "${projectDir}/config/methods.config"

def node_cpus = SysHelper.getAvailCpus()
def node_mem  = SysHelper.getAvailMemory().toString()

if (node_cpus == 2 && (node_mem == '3 GB' || node_mem == '3.9 GB')) {
    includeConfig "${projectDir}/config/lowmem.config"
} else if (node_cpus == 72 && (node_mem == '136.8 GB' || node_mem == '141.7 GB')) {
    includeConfig "${projectDir}/config/midmem.config"
} else if (node_cpus == 64 && (node_mem == '950 GB' || node_mem == '1007.9 GB')) {
    includeConfig "${projectDir}/config/execute.config"
} else {
    throw new Exception('ERROR: System resources not as expected, unable to assign resources.')
}