import nextflow.util.SysHelper

manifest {
	mainScript = 'call-gSV.nf'
	nextflowVersion = '>=20.07.1'
	author = 'Tim Sanders & Yael Berkovich'
	homePage = 'https://github.com/uclahs-cds/pipeline-call-gSV'
}

params {

	dataset_id = ''
	blcds_registered_dataset = false
	sge_scheduler = false
	
	sample_name = ''
	input_bam = ''
	input_bam_index = ''
	reference_fasta = '/path/to/genome.fa'
	exclusion_file = ''
	run_qc = false
	output_dir = ''
	output_log_dir = ''
	temp_dir = ''
}

includeConfig "${projectDir}/config/methods.config"

def node_cpus = SysHelper.getAvailCpus()
def node_mem  = SysHelper.getAvailMemory().toString()

if (node_cpus == 2 && node_mem == '3 GB') {
    includeConfig "${projectDir}/config/lowmem.config"
} else if (node_cpus == 72 && node_mem == '136.8 GB') {
    includeConfig "${projectDir}/config/midmem.config"
} else if (node_cpus == 64 && node_mem == '950 GB') {
    includeConfig "${projectDir}/config/execute.config"
} else {
    throw new Exception('ERROR: System resources not as expected, unable to assign resources.')
}