import nextflow.util.SysHelper

manifest {
    name = 'call-gSV'
    mainScript = 'call-gSV.nf'
    nextflowVersion = '>=20.07.1'
    author = 'Yu Pan, Tim Sanders, Yael Berkovich'
    homePage = 'https://github.com/uclahs-cds/pipeline-call-gSV'
    description = 'A pipeline to call structural variants utilizing Delly and Manta'
    version = '4.0.0-rc.1'
}