import nextflow.util.SysHelper

docker {
    enabled = true
    // Pass user's UID/GID and group IDs to Docker
    uid_and_gid = "-u \$(id -u):\$(id -g)"
    all_group_ids = "\$(for i in `id --real --groups`; do echo -n \"--group-add=\$i \"; done)"

    runOptions = "${uid_and_gid} ${all_group_ids}"
    }

params {
    min_cpus = 1
    min_memory = 1.MB
    max_cpus = SysHelper.getAvailCpus()
    max_memory = SysHelper.getAvailMemory()

    genome_build = 'hg38'

    cache_intermediate_pipeline_steps = false

    docker_container_registry = "ghcr.io/uclahs-cds"

    ucla_cds = true

    // Variant specific params
    GSV = "gSV"
    GCNV = "gCNV"
    // Variant specific regenotyping params
    RGSV = "regenotyped-${params.GSV}"
    RGCNV = "regenotyped-${params.GCNV}"

    // Pipeline tool versions
    delly_version = "1.5.0"
    manta_version = "1.6.0"
    bcftools_version = "1.15.1"
    vcftools_version = "0.1.16"
    rtgtools_version = "3.12"
    pipeval_version = "4.0.0-rc.2"
    circlize_version = '0.4.16_vcfR-1.15.0_BoutrosLab.plotting.general-7.1.0'

    // Docker tool versions
    docker_image_delly = "${-> params.docker_container_registry}/delly:${params.delly_version}"
    docker_image_bcftools = "${-> params.docker_container_registry}/bcftools:${params.bcftools_version}"
    docker_image_manta = "${-> params.docker_container_registry}/manta:${params.manta_version}"
    docker_image_rtgtools = "${-> params.docker_container_registry}/rtg-tools:${params.rtgtools_version}"
    docker_image_vcftools = "${-> params.docker_container_registry}/vcftools:${params.vcftools_version}"
    docker_image_validate = "${-> params.docker_container_registry}/pipeval:${params.pipeval_version}"
    docker_image_circlize = "${-> params.docker_container_registry}/circlize:${params.circlize_version}"
    }

process {
    executor = 'local'
    echo = true
    cache = true
    }
