process {
    withName: run_validate_PipeVal {
        cpus = 1
        memory = 1.GB
        }
    withName: call_gSV_Delly {
        cpus = 1
        memory = 2.GB
        retry_strategy {
            memory {
                strategy = 'add'
                operand = 2.GB
                }
            }
        }
    withName: call_gCNV_Delly {
        cpus = 1
        memory = 2.GB
        retry_strategy {
            memory {
                strategy = 'add'
                operand = 2.GB
                }
            }
        }
    withName: call_gSV_Manta {
        cpus = 1
        memory = 2.GB
        retry_strategy {
            memory {
                strategy = 'add'
                operand = 2.GB
                }
            }
        }
    withName: convert_gSV_BCF2VCF_BCFtools {
        cpus = 1
        memory = 500.MB
        retry_strategy {
            memory {
                strategy = 'add'
                operand = 500.MB
                }
            }
        }
    withName: convert_gCNV_BCF2VCF_BCFtools {
        cpus = 1
        memory = 500.MB
        retry_strategy {
            memory {
                strategy = 'add'
                operand = 500.MB
                }
            }
        }
    withName: run_gSV_vcfstats_RTGTools {
        cpus = 1
        memory = 500.MB
        retry_strategy {
            memory {
                strategy = 'add'
                operand = 500.MB
                }
            }
        }
    withName: run_gCNV_vcfstats_RTGTools {
        cpus = 1
        memory = 500.MB
        retry_strategy {
            memory {
                strategy = 'add'
                operand = 500.MB
                }
            }
        }
    withName: run_gSV_vcf_validator_VCFtools {
        cpus = 1
        memory = 500.MB
        retry_strategy {
            memory {
                strategy = 'add'
                operand = 500.MB
                }
            }
        }
    withName: run_gCNV_vcf_validator_VCFtools {
        cpus = 1
        memory = 500.MB
        retry_strategy {
            memory {
                strategy = 'add'
                operand = 500.MB
                }
            }
        }
    }
