process {
    withName: run_validate_PipeVal {
        cpus = 1
        memory = 1.GB
        }
    withName: call_gSV_Delly {
        cpus = 1
        memory = 30.GB
        retry_strategy {
            memory {
                strategy = 'exponential'
                operand = 2
                }
            }
        }
    withName: call_gCNV_Delly {
        cpus = 1
        memory = 30.GB
        retry_strategy {
            memory {
                strategy = 'exponential'
                operand = 2
                }
            }
        }
    withName: call_gSV_Manta {
        cpus = 1
        memory = 30.GB
        retry_strategy {
            memory {
                strategy = 'exponential'
                operand = 2
                }
            }
        }
    withName: convert_BCF2VCF_BCFtools {
        cpus = 1
        memory = 10.GB
        retry_strategy {
            memory {
                strategy = 'exponential'
                operand = 2
                }
            }
        }
    withName: run_vcfstats_RTGTools {
        cpus = 1
        memory = 10.GB
        retry_strategy {
            memory {
                strategy = 'exponential'
                operand = 2
                }
            }
        }
    withName: run_vcf_validator_VCFtools {
        cpus = 1
        memory = 10.GB
        retry_strategy {
            memory {
                strategy = 'exponential'
                operand = 2
                }
            }
        }
    }
